#table-container {
    padding: 20px;
}
#table-container table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table-container table td, #table-container table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-container table tr:nth-child(even){
    background-color: #f2f2f2;
}

#table-container table tr:hover {
    background-color: #ddd;
}

#table-container table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
button {
    margin: 20px;
    background: #7aedc1;
    height: 50px;
    border: 2px solid #09a96d;
    border-radius: 15px;
    cursor: pointer;
    color: #444;
}